body {
  margin: 0;
  background-color: #0E7C7B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-height: 250px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
}

h1 .internal-link {
  color: #FAF5DB;
  font-size: 3rem;
}

h2, p {
  color: #13262F;
}

h3, h4, h4 a{
  color: #0E7C7B;
}

a {
  color: #0E7C7B;
}

.academic-basics h3 {
  font-size: 1.25rem;
}

.internal-link {
  text-decoration: none;
  color: #0E7C7B;
  font-weight: bold;
  font-size: 1.25rem;
}

.name-portrait p{
  text-align: center;
  color: #FAF5DB;
}

.name-portrait .portrait-caption{
  font-style: italic;
  margin-bottom: 1.5rem;
}

.name-portrait .nickname{
  margin-bottom: 0;
  margin-top: 1rem;
  font-style: italic;
  font-size: 1rem;
}

.name-portrait a {
  color: #FAF5DB;
  font-style: normal;
}


.section {
  background-color: #B6D8F3;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 10px #92acc2;
}

footer p {
  color: white;
  position: static;
  left: 0;
  bottom: 0;
  margin: 0;
}

footer p.background-citation{
  visibility: hidden;
}

footer p a {
  color: white;
}

@media (min-width: 768px){
  body {
    background-color: white;
    background-image: linear-gradient(rgba(14, 124, 122, 0.75), rgba(14, 124, 122, 1));
  }
}

@media (min-width: 992px) {
  body {
      background-image: url("../public/img/IMG_7534.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: top;
  }

  .name-portrait {
    background-color: #0E7C7B;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 10px #094d4bdc;
  }

  footer p.background-citation {
    visibility: visible;
    color: white;
    position: static;
    left: 0;
    bottom: 0;
    margin: 0;
  }
}
